* {
    box-sizing: border-box;
}

body{
    min-width: 600px;
    align-items: center;

}

.card{
    margin: 30px auto;
    width: 550px;
    height: 168px;
    display: flex;
    background-color: aliceblue;
    overflow-wrap:break-word;
}

.col2{
    padding: 10px;
    display: block;
}

.row a{
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: silver;
    padding-left: 20px;
    text-decoration-line: underline;
}

header{
    display: flex;
    justify-content: center;
    background-color: #F55A5A;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 20px;
}

header img {
    vertical-align: middle;
    margin-right: 5px;
  }


.image{
    width: 125px;
    height: 168px;
    border-radius: 10px;
}

.row{
    margin-bottom:0 ;
}

.col2 h1{
    margin: 0;
}

.col2 p{
    font-size: 14px;
}
.row img{
    margin-right:5px;
}